{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html>
	{% load static %}
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">	

		<title>Bonsoir- Good Evening</title>	

		<meta name="keywords" content="HTML5 Template" />
		<meta name="description" content="Porto - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Favicon -->
		<link rel="shortcut icon" href="{% static 'img/favicon.ico'%}" type="image/x-icon" />
		<link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,5  0  jmhhhhhhhhhhhhhhhhhhhhhhhk*dfdfffffsssssssssssssssssssssssssssssssssss00,500,600,700,800%7CShadows+Into+Light%7CPlayfair+Display:400&display=swap" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}">
		<link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.min.css'%}">
		<link rel="stylesheet" href="{% static 'vendor/animate/animate.compat.css'%}">
		<link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.min.css' %}">
		<link rel="stylesheet" href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css'%}">
		<link rel="stylesheet" href="{% static 'vendor/owl.carousel/assets/owl.theme.default.min.css' %}">
		<link rel="stylesheet" href="{% static 'vendor/magnific-popup/magnific-popup.min.css'%}">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static 'css/theme.css'%}">
		<link rel="stylesheet" href="{% static 'css/theme-elements.css'%}">
		<link rel="stylesheet" href="{% static 'css/theme-blog.css' %}">
		<link rel="stylesheet" href="{% static 'css/theme-shop.css' %}">

		<!-- Revolution Slider CSS -->
		<link rel="stylesheet" href="{% static 'vendor/rs-plugin/css/settings.css' %}">
		<link rel="stylesheet" href="{% static 'vendor/rs-plugin/css/layers.css' %}">
		<link rel="stylesheet" href="{% static 'vendor/rs-plugin/css/navigation.css'%}">

		<!-- Skin CSS -->
		<link id="skinCSS" rel="stylesheet" href="{% static 'css/skins/default.css' %}">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static 'css/custom.css'%}">

		<!-- Head Libs -->
		<script src="{% static 'vendor/modernizr/modernizr.min.js' %}"></script>

	</head>
	<body data-plugin-page-transition>
		<div class="body">
			<header id="header" class="header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyChangeLogo': true, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 70}">
				<div class="header-body header-body-bottom-border border-top-0">
					<div class="header-container container" style="height: 130px;">
						<div class="header-row">
							<div class="header-column">
								<div class="header-row">
									<h1 class="header-logo">
										<a href="#">
											<img alt="Porto" width="100" height="48" src="{% static 'img/bonsoir1.jpg'%}">
											<span class="hide-text">Bonsoir</span>
										</a>
									</h1>
								</div>
							</div>
							<div class="header-column justify-content-end">
								<div class="header-row">
									<div class="header-nav header-nav-line header-nav-bottom-line header-nav-bottom-line-effect-1">
										<div class="header-nav-main header-nav-main-square header-nav-main-font-lg header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-2 header-nav-main-sub-effect-1">
											<nav class="collapse">
												<ul class="nav nav-pills" id="mainNav">
													<!--li class="dropdown">
														<a class="dropdown-item dropdown-toggle active" href="index.html">
															Home
														</a>
														
													</li-->
													<li class="dropdown dropdown-mega">
														<a class="dropdown-item dropdown-toggle" href="elements.html">
															Advertise
														</a>
														
													</li>
													<li class="dropdown">
														<a class="dropdown-item dropdown-toggle" href="{% url 'Blog:contact'%}">
															Contact
														</a>
													</li>
													<!--li class="dropdown">
														<a class="dropdown-item dropdown-toggle" href="#">
															Services
														</a>
														
													</li-->
													<li class="dropdown">
														<a class="dropdown-item dropdown-toggle" href="#">
															Subscribe
														</a>
														
													</li>
													<li class="dropdown">
														<a class="dropdown-item dropdown-toggle" href="#">
															Share Story
														</a>
														
												</ul>
											</nav>
										</div>
										<button class="btn header-btn-collapse-nav" data-bs-toggle="collapse" data-bs-target=".header-nav-main nav">
											<i class="fas fa-bars"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>

			<div role="main" class="main">
				<div class="owl-carousel owl-carousel-light owl-carousel-light-init-fadeIn owl-theme manual dots-inside dots-horizontal-center dots-light show-dots-hover nav-inside nav-inside-plus nav-dark nav-md nav-font-size-md show-nav-hover mb-0" data-plugin-options="{'autoplayTimeout': 7000}" data-dynamic-height="['600px','600px','600px','550px','500px']" style="height: 600px;">
					
					<div class="owl-stage-outer">
						<div class="owl-stage">
							{% show_latest_post_carousel 3 %}
							
							
							
						</div>
					</div>
					<div class="owl-nav">
						<button type="button" role="presentation" class="owl-prev"></button>
						<button type="button" role="presentation" class="owl-next"></button>
					</div>
				</div>

				<section class="section border-0 mt-0 mb-4">
					<div class="container">
						<div class="row">
							<div class="col pt-2 text-center text-lg-start text-center">
								<h3 class="text-3 text-dark m-0 font-weight-bold d-inline-block pe-4 mb-3">BROWSE ALL CATEGORIES:</h3>
								<div class="d-inline-block">

									<a href="#" class="btn py-3 px-4 text-1 text-dark btn-light bg-transparent text-uppercase font-weight-bold me-2 mb-2">International</a>

									<a href="#" class="btn py-3 px-4 text-1 text-dark btn-light bg-transparent text-uppercase font-weight-bold me-2 mb-2">Photography</a>

									<a href="#" class="btn py-3 px-4 text-1 text-dark btn-light bg-transparent text-uppercase font-weight-bold me-2 mb-2">Lifestyle</a>

									<a href="#" class="btn py-3 px-4 text-1 text-dark btn-light bg-transparent text-uppercase font-weight-bold me-2 mb-2">Fashion</a>

									<a href="#" class="btn py-3 px-4 text-1 text-dark btn-light bg-transparent text-uppercase font-weight-bold me-2 mb-2">Recipes</a>

									<a href="#" class="btn py-3 px-4 text-1 text-dark btn-light bg-transparent text-uppercase font-weight-bold me-2 mb-2">Travel</a>

									<a href="#" class="btn py-3 px-4 text-1 text-dark btn-light bg-transparent text-uppercase font-weight-bold me-2 mb-2">Business</a>

								</div>
							</div>
						</div>
					</div>
				</section>

				<div class="container py-4">

					<!--div class="row">
						<div class="col text-center pb-5">
							<a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank">
								<img alt="Porto" class="img-fluid" src="{% static 'img/blog/blog-ad-2.jpg'%}" />
							</a>
						</div>
					</div-->

					<div class="row">
						<div class="col">
							<div class="blog-posts">
								<div class="masonry-loader masonry-loader-showing">
									<div class="masonry row" data-plugin-masonry data-plugin-options="{'itemSelector': '.masonry-item'}">
										{% block content %}

										{% endblock %}
									</div>


								</div>

							</div>

						</div>

					</div>

					<!--div class="row">
						<div class="col text-center pt-5">
							<a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank">
								<img alt="Porto" class="img-fluid" src="{% static 'img/blog/blog-ad-3.jpg' %}" />
							</a>
						</div>
					</div-->

				</div>

			</div>

			<footer id="footer" class="bg-color-light-scale-1 border-top-0">
				<div class="container pt-3">
					<div class="row py-5 my-4">
						<div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
							<h3 class="text-3 text-dark mb-3 font-weight-bold">ABOUT THE BLOG</h3>
							<p>Bonsoir is a trusted news site based in France . We have our independent correspondent in over 50 countries in the world.</p>
							<p class="mb-0">Praesent venenatis turpis vitae purus semper, eget sagittis velit venenatis ptent taciti sociosqu ad litora...</p>
							<p class="mb-0"><a href="#" class="btn-flat btn-xs text-color-hover-primary p-relative top-5"><strong class="text-2">VIEW MORE</strong><i class="fas fa-angle-right p-relative top-1 ps-2"></i></a></p>
						</div>
						<div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
							<h3 class="text-3 text-dark mb-3 font-weight-bold">RECENT POSTS</h3>
							
							{% show_latest_post 3 %}
							
						</div>
						<div class="col-md-6 col-lg-3 mb-5 mb-md-0">
							<h3 class="text-3 text-dark mb-3 font-weight-bold">RECENT COMMENTS</h3>
							<ul class="list-unstyled mb-0">
								<li class="mb-3 pb-1">
									<a href="#">
										<p class="text-3 opacity-8 mb-1"><i class="fas fa-angle-right text-color-primary"></i><strong class="ms-2">John Doe</strong> commented on <strong class="text-color-primary">lorem ipsum dolor sit amet.</strong></p>
										<p class="text-2 mb-0">12:55 AM Dec 19th</p>
									</a>
								</li>
								<li>
									<a href="#">
										<p class="text-3 opacity-8 mb-1"><i class="fas fa-angle-right text-color-primary"></i><strong class="ms-2">John Doe</strong> commented on <strong class="text-color-primary">lorem ipsum dolor sit amet.</strong></p>
										<p class="text-2 mb-0">12:55 AM Dec 19th</p>
									</a>
								</li>
							</ul>
						</div>
						<div class="col-md-6 col-lg-2">
							<h3 class="text-3 text-dark mb-3 font-weight-bold">CATEGORIES</h3>
							<p>
								{% for tag in post.tags.all %}
								<a href="{% url "Blog:post_list_by_tag" tag.slug %}"><span class="badge badge-dark bg-color-primary badge-sm py-2 me-1 mb-2 text-uppercase">{{tag.name}}</span></a>
									
								
								{% endfor %}
								

								<a href="#"><span class="badge badge-dark bg-color-primary badge-sm py-2 me-1 mb-2 text-uppercase">Gadgets</span></a>

								<a href="#"><span class="badge badge-dark bg-color-primary badge-sm py-2 me-1 mb-2 text-uppercase">International</span></a>

								<a href="#"><span class="badge badge-dark bg-color-primary badge-sm py-2 me-1 mb-2 text-uppercase">Lifestyle</span></a>

								<a href="#"><span class="badge badge-dark bg-color-primary badge-sm py-2 me-1 mb-2 text-uppercase">Education</span></a>

								<a href="#"><span class="badge badge-dark bg-color-primary badge-sm py-2 me-1 mb-2 text-uppercase">Politics</span></a>

								<a href="#"><span class="badge badge-dark bg-color-primary badge-sm py-2 me-1 mb-2 text-uppercase">Travel</span></a>

								<a href="#"><span class="badge badge-dark bg-color-primary badge-sm py-2 me-1 mb-2 text-uppercase">Business</span></a>

							</p>
						</div>
					</div>
				</div>
				<div class="footer-copyright footer-top-border bg-color-light-scale-1">
					<div class="container py-2">
						<div class="row py-4">
							<div class="col-lg-1 d-flex align-items-center justify-content-center justify-content-lg-start mb-2 mb-lg-0">
								<a href="index.html" class="logo pe-0 pe-lg-3">
									<img alt="Porto Website Template" src="{% static 'img/bonsoir1.jpg'%}" height="32">
								</a>
							</div>
							<div class="col-lg-7 d-flex align-items-center justify-content-center justify-content-lg-start mb-4 mb-lg-0">
								<p>© Copyright 2021. All Rights Reserved.</p>
							</div>
							<div class="col-lg-4 d-flex align-items-center justify-content-center justify-content-lg-end">
								<nav id="sub-menu">
									<ul>
										<li><i class="fas fa-angle-right"></i><a href="page-faq.html" class="ms-1 text-decoration-none text-color-hover-primary"> FAQ's</a></li>
										<li><i class="fas fa-angle-right"></i><a href="sitemap.html" class="ms-1 text-decoration-none text-color-hover-primary"> Sitemap</a></li>
										<li><i class="fas fa-angle-right"></i><a href="contact-us.html" class="ms-1 text-decoration-none text-color-hover-primary"> Contact Us</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>

		<!-- Vendor -->
		<script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
		<script src="{% static 'vendor/jquery.appear/jquery.appear.min.js'%}"></script>
		<script src="{% static 'vendor/jquery.easing/jquery.easing.min.js'%}"></script>
		<script src="{% static 'vendor/jquery.cookie/jquery.cookie.min.js'%}"></script>
		<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'vendor/jquery.validation/jquery.validate.min.js'%}"></script>
		<script src="{% static 'vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
		<script src="{% static 'vendor/jquery.gmap/jquery.gmap.min.js' %}"></script>
		<script src="{% static 'vendor/lazysizes/lazysizes.min.js' %}"></script>
		<script src="{% static 'vendor/isotope/jquery.isotope.min.js'%}"></script>
		<script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
		<script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js'%}"></script>
		<script src="{% static 'vendor/vide/jquery.vide.min.js'%}"></script>
		<script src="{% static 'vendor/vivus/vivus.min.js'%}"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="{% static 'js/theme.js' %}"></script>

		<!-- Revolution Slider Scripts -->
		<script src="vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
		<script src="vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
		<!-- Current Page Views -->
		<script src="{% static 'js/views/view.home.js' %}"></script>

		<!-- Theme Custom -->
		<script src="{% static 'js/custom.js' %}"></script>

		<!-- Theme Initialization Files -->
		<script src="{% static 'js/theme.init.js'%}"></script>

	</body>
</html>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  