{% extends "Blog/base.html" %}
{% load static %}
{% load blog_tags %}
{% block title %}Vigente`{% endblock %}
{% block content %}
{% if tag %}
<h2>Posts tagged with "{{ tag.name }}"</h2>
{% endif %}
{% for post in post %}
        <div class="masonry-item no-default-style col-md-4">
            <article class="post post-medium border-0 pb-0 mb-5">
                <div class="post-image">
                    <a href="blog-post.html">
                        <img src="{{post.image.url}}"
                            class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0"
                            alt="Top Camper Trailer Towing Tips" width="550px" height="412px"/>
                            
                    </a>
                </div>

                <div class="post-content">

                    <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a
                            href="{{ post.get_absolute_url }}">{{post.title}}</a></h2>

                    <p>{{ post.body|markdown|truncatewords_html:30 }}</p>
                    <div class="post-meta">
                        <span><i class="far fa-user"></i> By <a href="#">{{post.author}}</a> </span>
                        
                        
                        
                        {% for tag in post.tags.all %}
                        <span><i class="far fa-folder"></i> <a href="{% url "Blog:post_list_by_tag" tag.slug %}">{{ tag.name }}</a></span>
                        {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                        <span><i class="far fa-comments"></i> <a href="#">12 Comments</a></span>
                        <span class="d-block mt-2"><a href="{{ post.get_absolute_url }}"
                                class="btn btn-xs btn-light text-1 text-uppercase">Read
                                More</a></span>

                    </div>



                </div>
            </article>
        </div>


{% endfor %}

{% endblock %}
{% include "pagination.html" with page=post%}
